:root{
    --white: #ffffff; 
    --lightgrey: #f8f9fa;
    --darkgrey: #282b30;
    --blackish: #1c1e22;
    --lightorange: #f79176;
    --darkorange: #ff3b69;
    

}

#container{
    display: grid;
    grid-template-areas:
        "nav"
        "main"
        "first"
        "second"
        "third"
        "footer" 
        ;
    height: 530vh;

    grid-template-rows: .25fr 1fr 1fr 1fr 1fr .25fr;    

    
}
img{
    vertical-align: middle;
    border-radius: 5%;
}



button{
    padding: 1.25vw 1.85vw;
    background-color: #f79176;
    color: var(--white);
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 1.5vw;
    font-weight:600;
    border-radius: 3vw;
    border: none;
    
}

button.coaches{
    padding: 1.25vw 1vw;
    width: fit-content;
    margin-left: 5%;

}

.card{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: var(--lightgrey);
    /* padding: 2vw 2vw; */
    border-radius: 2vw;
    gap: 1rem;
}

.card.white{
    background-color: var(--white);
}


.centered{
    text-align: center;
}



footer{
    grid-area: footer;
    background-color: var(--lightorange);
}


#howitworks{
    height: 100%;
    padding: 1%;
    grid-area: first;
    background-color: var(--white);
    display: grid;
    grid-template-areas: 
        "header2"
        "cards";
    grid-template-rows: .2fr .8fr;
    justify-items: center;
    box-sizing: border-box;
}

#howitworkscard{
    height: 100%;
    grid-area: cards;
    display: flex;
    justify-content: space-evenly;
    gap: 4%; 
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
}

.howitworksimage{
    width: 25%;
    border-radius: 50%;
    margin: 5%;
}


h2{
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 3.3rem;
    margin: 0;
    color: var(--blackish);
}

h3{
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: var(--blackish);
    padding: 0%;
}

h4{
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 3.4vw;
    font-weight: 300;
    margin: 0.5rem;
    color: var(--lightorange);
    text-align:center;
}

h5{
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 2.4vw;
    font-weight: 700;
    margin: 0;
    color: var(--blackish);
    padding-top: 5%;
    padding-left: 5%;
}

#header3{
    grid-area: header3;
}


#header2{
    grid-area: header2;
}



#teamcard{
    grid-area: teamcard;
    display: flex;
    justify-content: space-between;
    gap: 2%; 
    width: 100%;
    box-sizing: border-box;
    padding-top: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 100%;
    
    
}

.teampics{
    width: 100%;
    display: block;
    object-fit: cover;
}



#leftMain{
    grid-area: left;
    display: flex;
    flex-direction: column;
    gap: 6%;
    padding-top: 5%;
    padding-left: 5%;
    align-items: left;
}

.mainPhoto{
    grid-area: mainPhoto;
    /* aspect-ratio: 1 /1; */
    /* object-fit: cover; */
    width: 90%;
    /* justify-self: center; */
}



main{
    grid-area: main;
    background-color: var(--lightgrey);
    display: grid;
    grid-template-areas: "left mainPhoto";
    grid-template-columns: 32fr 68fr;
    justify-items: center;    
    align-content: center;
    padding: 5% 0; 
    /* max-height: 100vh; */
    box-sizing: border-box;

}

#meetTeam{
    height: 100%;
    grid-area: second;
    background-color: var(--lightgrey);
    padding: 2rem;
    display: grid;
    grid-template-areas: 
        "header3"
        "teamcard";
    grid-template-rows: .2fr .8fr;
    justify-items: center;
    box-sizing: border-box;;
}


nav{
    grid-area: nav;
    background-color: var(--white);
}

p{
    font-family:"Inter Tight", Helvetica, sans-serif;
    font-size: 1.60vw;
    color: var(--blackish);
    line-height: 1.4;
    margin: 0;
    padding: 5%;
    padding-top: 0%;

}

p.main{
    padding: 0%;
    padding-top: 0%;

}
.awardphoto{
    width: 100%;
}

.reward h2{
    padding: 5%;
}
.reward button{
    margin-left: 5%;
}

.reward img{
    width: 100%;
}

#photo1{
    grid-area: awardphoto1;
}
#photo2{
    grid-area: awardphoto2;
}

#text1{
    grid-area: text1;
}

#text2{
    grid-area:text2;
}

#rewards{
    padding: 5%;
    box-sizing: border-box;
    grid-area: third;
    background-color: var(--white);
    display: grid;
    grid-template-areas: 
    "text1 awardphoto1"
    
    "awardphoto2 text2"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:5%;

}

@media only screen and (max-width:500px){
    #container{
        grid-template-areas: 
        "nav"
        "main"
        "first"
        "second"
        "third"
        "footer" ;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        height: auto;
    }
    #howitworkscard{
        flex-direction: column;

    }
    #teamcard{
        flex-direction: column;
    }
}


