:root{
    --white: #ffffff; 
    --lightgrey: #f8f9fa;
    --darkgrey: #282b30;
    --blackish: #1c1e22;
    --lightorange: #FA8072;
    --darkorange: #FA8072;
    --accent-cool:	#407076;
    

}

#container{
    display: grid;
    grid-template-areas:
        "nav"
        "menu"
        "main"
        "first"
        "second"
        "third"
        "footer" 
        ;
    min-height: 100vh;
    max-width: 100%;
    grid-template-rows: auto auto auto auto auto .25fr;    
    grid-template-columns: 1fr;

    
}
img{
    vertical-align: middle;
    border-radius: 5%;
    width: 100%
}



button{
    padding: 1.25vw 1.85vw;
    background-color: var(--darkorange);
    color: var(--white);
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 1.5vw;
    font-weight:600;
    border-radius: 3vw;
    border: none;
    width: fit-content;

    
}

button.coaches{
    padding: 1.25vw 1vw;
    margin-left: 5%;

}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 2vw;
    gap: 1.5rem;
    max-height: fit-content;
}






.centered{
    text-align: center;
}

body {
    margin: 0;
}



footer{
    grid-area: footer;
    background-color: var(--lightorange);
}



#menuWrapper{
    position: relative;
}

nav{
    height: 10vh;
    background-color: var(--white);
    border-radius: 25vw;
    padding-left: 3vw;
    padding-right: 5vw;
    margin-top: 1vw;;
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: space-between;
    position: fixed;
    top: 0vw;;
    width: 85%;
    left: 50%;                      /*i looked this up*/
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


#disappearingMenu{
    display: none;
    grid-area:menu; 
    background-color: var(--lightgrey);
    border-radius: 5px;
    position: absolute;
    top: 5vh;
    right: 0vw;
    width: 20vw;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color:black;
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 2.0vw;
    color: var(--accent-cool)
}

#disappearingMenu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding-left: 1vw;
}

#disappearingMenu ul li {
    gap: 2vw;
}

#disappearingMenu.active{
    display:block;
}

#hamburger{
    color: var(--darkorange);
    width: 5vw;
}


.small-logo{
    width: 10vw;
    height: 10vw;    
    align-self: center;

}

h1{
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 2.25vw;
    text-justify: center;

}

h2{
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 3.75vw;
    margin: 0;
    color: var(--blackish);
}

h3{
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 1.5vw;
    margin: 0;
    color: var(--accent-cool);
}

h4{
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 3.4vw;
    font-weight: 300;
    color: var(--lightorange);
    text-align:center;
    margin: 0;
}

h5{
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 2.4vw;
    font-weight: 700;
    margin: 0;
    color: var(--accent-cool);

}



.teampics{
    width: 100%;
    display: block;
    object-fit: cover;
}



#leftMain{
    grid-area: left;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    align-items: left;
    box-sizing: border-box;
}

.mainPhoto{
    grid-area: mainPhoto;
    width: 100%;
    align-self: center;
    object-fit: contain;
}



main{
    grid-area: main;
    /* width: 100%; */
    /* min-width: 0; */
    background-color: var(--lightgrey);
    display: grid;
    grid-template-areas: "left mainPhoto";
    grid-template-columns: 3fr 7fr;
    gap: 4vw;
    align-content: center;
    box-sizing: border-box;
    padding: 4vw;
    padding-top: 6vw;;

}



.card.howitworks {
    background-color: var(--lightgrey);
    flex: 1;
    padding: 1.5vw;
    
}


#howitworks{
    grid-area: first;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 2vw;
    padding: 4vw; 
    padding-top: 2vw 
}

#howitworksHeader{
    gap: 0.75vw;
    display:flex;
    flex-direction: column;
    padding: 1vw;

}

#teamcard h5, #teamcard p{
    padding: 1vw;
}


#howitworksBody{
    grid-area: cards;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 4vw; 
    width: 100%;
    box-sizing: border-box;
}

.howitworksimage{
    width: 25%;
    border-radius: 50%;
    justify-self: left
}

#meetTeam{
    height: 100%;
    grid-area: second;
    background-color: var(--lightgrey);
    padding: 4vw;
    padding-top: 2vw;
    gap: 2vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
}

#meetteamHeader{
    grid-area: header2;
    gap: 0.75vw;
    display:flex;
    flex-direction: column;
    padding: 1vw;

}


.card.team{
    background-color: var(--white);
    height: 100%;
    padding-bottom: 1vw;
    flex: 1;
}

.card.team button{
    margin-top: auto;
    padding: 1.25vw 1vw;
    margin-left: 1vw;;
}


#teamcard{
    grid-area: teamcard;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-top: 1.5rem;
    height: 100%;
    gap: 3vw;
    
    
}



p{
    font-family:"Inter Tight", Helvetica, sans-serif;
    font-size: 1.60vw;
    color: var(--blackish);
    line-height: 1.4;
    margin: 0;
    padding-top: 0vw;

}


.awardphoto{
    width: 100%;
}


.reward img{
    width: 100%;
}

#awardphoto1{
    grid-area: awardphoto1;
}
#awardphoto2{
    grid-area: awardphoto2;
}

#text1{
    grid-area: text1;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

#text2{
    grid-area:text2;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

#rewards{
    box-sizing: border-box;
    padding: 5vw;
    grid-area: third;
    background-color: var(--white);
    display: grid;
    grid-template-areas: 
    "text1 awardphoto1"
    
    "awardphoto2 text2"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:5%;

}

@media only screen and (max-width:500px){
    button{
        padding: 3vw 9vw;
        font-size: 3vw;
    }
    #container{
        grid-template-areas: 
        "nav"
        "main"
        "first"
        "second"
        "third"
        "footer" ;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        height: auto;

    }
    #howitworksBody{
        flex-direction: column;
    }
    .howitworksimage{
        height: 20vw;
        width: 20vw;
    }

    nav{
        margin-top: 1vh;
        height:7vh;
    }
    main{
        display: flex;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top:10vh;
        gap: 3vh;
        flex-direction: column-reverse;
    }
    #leftMain{
        gap:4vw;
    }
    .card.howitworks{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 5vw;
        

    }
    #teamcard{
        flex-direction: column;
    }

    h1{font-size: 4vw;}
    h2{font-size: 8vw;}
    h3{font-size: 5.5vw;}
    h4{font-size: 5.5vw;}
    h5{font-size: 5cqmin;}
    p{font-size: 5.0vw;}





}


