:root{
    --white: #ffffff; 
    --lightgrey: #f8f9fa;
    --darkgrey: #282b30;
    --blackish: #1c1e22;
    --lightorange: #f79176;
    --darkorange: #ff3b69;
    

}

#container{
    display: grid;
    grid-template-areas:
        "nav"
        "main"
        "first"
        "second"
        "third"
        "footer" 
        ;

    grid-template-rows: 15vh 100vh 100vh 100vh 100vh 20vh;    
    padding: 2%;

    
}

.mainPhoto{
    width: 100%;
    grid-area: mainPhoto;


}


nav{
    grid-area: nav;
    background-color: var(--lightgrey);
}

main{
    grid-area: main;
    background-color: var(--white);
    display: grid;
    gap: 20px;
    grid-template-areas: "body mainPhoto";
    grid-template-columns: 35vw 65vw;

}

body{
    grid-area:body;
}

footer{
    grid-area: footer;
    background-color: var(--lightorange);
}


#gettingStarted{
    grid-area: first;
    background-color: var(--lightgrey);
}

h2{
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 4.5vw;
}


#meetTeam{
    grid-area: second;
    background-color: var(--white);
}

#rewards{
    grid-area: third;
    background-color: var(--lightgrey);

}

